body {
     background-color: #1b1e23;
     margin-left: 0;
}


.navbar {
   background-color: #2f3135;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 10px;
    margin-left: 100px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}

.navbar-nav {
    text-decoration: none;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
} 
.card {
    width: 250px;
    color:black;
}

.card-body {
    font-size: 15px;
    background-color: #2f3135;
    color: whitesmoke;
    text-decoration: none;
}

.card-title {
    text-decoration: none;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
    text-decoration: none;
}


.card-title {
    color: white;
    padding: 10px;
    
}
.card-text {
    color: white;
    font-size: 20px;
}



footer {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    color: white;
    margin: auto;
    justify-content: center;
    align-items: center; 
    border: 2px solid white;
}

